@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body { 
  font-family: 'Open Sans', serif;
}

ul.topnav {
  list-style-type: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.topspacer {
  min-height: 3em;
} 
ul.topnav li {
  float: left;
}

ul.topnav li a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 1.2em; 
}

ul.topnav li.icon {
  display: none;
}

.text {
  border-style: none;
}

.radios {
  /*border-style: none;*/
}

.checkboxes {
  border-style: none;
}
 
.form-submit {
  border-style: none;
}

.name {
  text-align: center;
}

.subtext {
  display: inline-block;
  text-align: center;
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
 

