@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body { 
  font-family: 'Open Sans', serif;
}

.positioner {
  max-width: 970px;
  margin: 0 auto;
}

.banner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; 
  margin: 0 auto;
  padding: 0;
  overflow: ;
  background-color: #333;
  z-index: 100;
}

ul.topnav {
  list-style-type: none;
  z-index: 100;
}

.topspacer {
  min-height: 3em;
} 
ul.topnav li {
  float: left;
}

ul.topnav li a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 1.2em; 
}

ul.topnav li.icon {
  display: none;
}

.intro {
  /*display: inline-block; uncomment for use with broken php terminal*/
}
.text {
  border-style: none;
}

.radios {
  border-style: none;
}

.checkboxes {
  border-style: none;
}
 
.form-submit {
  border-style: none;
}

.name {
  text-align: center;
}

.subtext {
  text-align: center;
}

.init { /* for use with broken php terminal */
  
}

.term {
  position: relative;
  font-family: monospace;
  background-color: white;
  text-decoration: none;
  color: black;
  font-size: 1em; 
  display: inline;
}

.cursor {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 0;
  background: black;
  animation: typing 2s steps(12, end);
}

@keyframes typing {
   from { width: 100%; }
   to { width: 0; }
}
.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
 

